.a1 {
border: 20px 200px;
}
.a2 {
    border: 20px 200px;
}
.a02 {
    border: 20px 200px;
}
.a3 {
    border: 20px 200px;
}
.a4 {
    border: 20px 200px;
}
.a5 {
    border: 20px 200px;
}
.a6 {
    border: 20px 200px;
}
.a7 {
    border: 20px 200px;
}
.a8 {
    border: 20px 200px;
}
.a9 {
    border: 20px 200px;
}
.a11 {
    border: 20px 200px;
}
.a12 {
    border: 20px 200px;
}