* {
    background-color: rgb(170, 193, 214);
}
body {
    position:absolute ;
    background-color: white;
    height: 650px;
    width: 400px;
    border-radius: 24px;
    
    right:480px ;
}
 body > img {
    margin: 20px;
    height: 360px;
    width: 360px;
    border-radius: 24px;
}
body > h1{
    margin:  10px 30px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    
}
body >p{
    margin:  25px 30px;
    background-color: white;
    font-size: 22px;
    text-align: center;
    color: #6e6c6c;
    
}