.data > h5 {
    font-size: 18px;
    color: white;
    font-weight: 700;
  }
  .data > h2 {
    font-size: 32px;
    padding: 30px 0px 0px;
    color: white;
  }
  .data > p {
    color: white;
    font-size: 14px;
    padding-top: 25px;
  }
  .data {
    padding: 10% 5% 20% 5%;
    
  }
  
  .links .link1 {
    background-color: white;
    padding: 10px 30px;
    margin-right: 15px;
    color: black;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer !important;
  }
  .links .link1:hover {
    color: red;
  }
  .links .link2 {
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer !important;
  }
  .link2:hover {
    background-color: white;
    color: red;
  }
  .links {
    padding-top: 15px;
  }
  
   .carousel-control-next {
    justify-content: flex-end !important;
  
  }
  .carousel-control-prev {
    justify-content: flex-start !important;
  }
  .carousel-control-next-icon {
   width: 25px !important;
   background-color: red;
  }
  
  .carousel-control-prev-icon {
   width: 25px!important;
   background-color: red;
  }
  @media (min-width: 991px) {
    html {
      scroll-behavior: smooth;
      scroll-padding-top: 6rem;
      overflow-x: hidden;
    }
  }
  
  @media (max-width: 907px) {
    .data {
      padding-left: 3%;
      padding-right: 3%;
    }
  
    .carousel-control-next {
    align-items: flex-end !important;
    justify-content: flex-end !important;
  
  }
  .carousel-control-prev {
    align-items: flex-end !important;
    justify-content: flex-start !important;
  }
  
  }
  @media (max-width: 810px) {
    .data {
      padding-left: 1%;
      padding-right: 1%;
    }
  
    
  }
  
  @media (max-width: 384px) {
    .links {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
  
      align-items: center;
    }
    .data {
      padding-left: 3% !important;
      padding-right: 3% !important;
    }
  
    
  }
  