main {
    padding: 0 3%;
  }
  .container{
    padding: 0;
    
  }
  .top-seller > .box-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
  
    > h2 {
      color: #015e6b;
      font-size: 32px;
      font-weight: 700;
    }
  }
  .box-heading > div {
    display: flex;
    gap: 10px;
    > a {
      font-size: 14px;
      padding: 10px 0px;
      color: black;
      font-weight: 700;
    }
  }
  .row {
    gap: 24px;
  }
  
  .top-seller {
    margin: 0 2px !;
    background-color: white;
    border-radius: 22px;
    padding: 25px;
    width: 100% !important;
    max-width: 100%;
  }
  
  .item1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(195, 187, 187);
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
  }
  .item2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(195, 187, 187);
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
  }
  .item3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(195, 187, 187);
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
  }
  .item4 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(195, 187, 187);
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
  }
  
  .img-1 img {
    width: 100%;
  }
  .data-1 {
    > h4 {
      text-align: center;
      font-size: 22px;
      font-weight: 700;
    }
    > p {
      font-size: 18px;
      margin: 0px 0px 13px;
      font-weight: 500;
      text-align: center;
    }
  }
  .prices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
  
    > .new {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 700;
    }
    .old {
      color: #015e6b;
      margin-bottom: 0;
      font-size: 16px;
      margin: 0px 0px 0px 5px;
      font-weight: 700;
      text-decoration: line-through !important;
    }
  }
  .volumes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
    > a {
      border-radius: 20px;
      color: black;
      border: 1px solid black;
      padding: 6px 13px;
      font-size: 12px;
      font-weight: 700;
      margin: 0px 5px 5px 0px;
    }
  }
  .volumes a:hover {
    background-color: black;
    color: white;
  }
  .add-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9135a;
    padding: 10px 30px;
    border-radius: 19px;
    > a {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-weight: 700;
      margin-right: 7px;
    }
  }
  .add-chart:hover {
    background-color: white;
    border: 1px solid #d9135a;
    > a {
      color: #d9135a;
    }
  }
  .box-heading a:focus-within {
    text-decoration: underline !important;
  }
  .heros {
    padding: 40px 5%;
    max-width: 100%;
  }
  .p-img{
      width:100%;
  }
  .hero {
    display: flex;
    flex-direction: column;
    > .heading > h3 {
      color: #015e6b;
      font-size: 32px;
    }
    > .txt > p {
      color: #000000;
      font-size: 14px;
    }
    .p-types  a {
      color: #d9135a;
      margin: 0px 5px 0px 0px;
      padding: 10px 14px;
      font-size: 14px;
      border: 1px solid #d9135a;
      border-radius: 16px;
      font-weight: 700;
    }
  }
    .p-types  a:hover{
    background-color:#d9135a;
    color: white;
  
    }
  
  
  
  @media (max-width: 1200px) {
    .item1 {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .item2 {
      display: none;
    }
    .row-cl{
      flex-direction: column;
    }
    .h-res{
      flex-direction: column;
      align-items: center;
      justify-content: center !;
    }
     
  }
  @media (max-width: 576px) {
    .item3 {
      display: none;
    }
  }
  @media (max-width: 907px) {
    main,.heros {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
  @media (max-width: 810px) {
    main,.heros {
      padding-left: 1%;
      padding-right: 1%;
    }
  }
  
  @media (max-width: 384px) {
    main,.heros {
      padding-left: 3% !important;
      padding-right: 3% !important;
    }
  }
  @media (max-width: 1000px) {
    main {
      padding: 0;
    }
    .top-seller {
      border-radius: 0 !important;
      position: static;
    }
  }
  @media (max-width: 480px) {
    .box-heading {
      flex-direction: column;
    }
  }
  @media (max-width: 400px) {
     .p-types{
      display:flex;
      flex-direction: column;
      gap: 12px;
      >a{
          text-align: center;
      }
     }
  }
  
  main{
    padding: 0;
  }
  .shopify-section{
    display: flex;
    max-width: 100%;
  background-color: #015e6b;
  padding-top: 40px;
  padding-bottom: 50px;
  
  }
  .m-img img{
       width: 100%;
    border-radius: 20px !important;
  }
  .div-title{
    margin-bottom: 26px;
    >h2{
      color: white;
    font-size: 30px;
    font-weight: 700;
    
    }
  }
  .men-special{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  .men{
    display: flex;
  }
  .show-products-main{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
  }
  .show-products-main>div>h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  .show-products-main>div>p{
    color: white;
    font-size: 14px;
    margin: 15px 0px;
  }
  .show-products-main>div>a{
    color: white;
    font-size: 12px;
   background-color: #d9135a;
   font-weight: 700;
   border-radius: 22px;
    padding: 10px 30px;
  }
  .show-products-main>div>a:hover{
     background-color: white;
     color: #d9135a;
  }
  .women-special{
    display: flex;
    flex-direction: column;
  }
  
  
  .women{
    display: flex;
   padding-left: 17px;
  }
  .show-products-main2{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    >div>h4{
      font-size: 24px;
      font-weight: 700;
      color: white;
    }
    >div>p{
      color: white;
      font-size: 14px;
      margin: 15px 0px;
    }
    >div>a{
      color: white;
      font-size: 12px;
      background-color: #d9135a;
      padding: 10px 30px;
      border-radius: 22px;
      font-weight: 700;
    }
  }
  
  .show-products-main2>div>a:hover{
    background-color: white;
    color: #d9135a;
  }
  
  .w-img>img{
    width: 100%;
    border-radius: 20px;
  }
  .show-more-link{
    margin: 20px 0;
    display: flex;
    >div>h4{
      margin-right: 15px;
      color: white;
      font-weight: 700;
      font-size: 26px;
    }
    >div>a{
      color: black;
      font-weight: 300;
      padding: 14px 30px 12px;
      font-size: 14px;
      background-color: white;
      border-radius: 22px;
    }
  }
  .show-more-link a:active{
    color: #d9135a;
  }
  
  
  @media (max-width: 940px) {
    .show-more-link{
      flex-direction: column;
       gap: 20px;
    }
  }
  @media (max-width: 922px) {
  .shopify-section{
    flex-direction:column ;
    gap: 20px;
  
  }
  .show-more-link{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .men-special .container,.women-special .container{
  
    max-width: 100%;
  }
  }
  
  @media (max-width:576px) {
    .men,.women{
       flex-direction: column;
      max-width: 100%;
    }
    .show-more-link{
      flex-direction: column;
    }
    
  }